src/wadl/example.wadl

<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<resources base="https://localhost:5000">
		<resource path="1.0">
			<doc title="version Lorem"/>
			<?rax start-sections?>
			<resource id="a" path="a">
				<doc title="Title for this section"/>
				<resource id="b" path="b">
					<doc title="b Lorem"/>
					<resource id="c" path="c" type="#rtype">
						<doc title="Ipsum"/>
						<method href="#baz"/>
					</resource>
				</resource>
				<resource id="d" path="d">
					<doc title="d Lorem"/>
					<resource id="e" path="e">
						<doc title="Lorem"/>
						<method href="#foo"/>
					</resource>
				</resource>
			</resource>
			<resource id="h" path="h">
				<doc title="Wooga"/>
				<resource id="i" path="i">
					<resource id="j" path="{j}">
						<param name="j" style="template" type="xsd:string" required="true">
							<link resource_type="#rtype" rel="self"/>
						</param>
						<resource id="k" path="k">
							<doc title="Cicero is a Chickpea"/>
							<method href="#foo"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resource>
	</resources>
	<resource_type id="rtype">
		<method id="foo" name="GET">
			<doc title="Foo title">
				<para role="shortdesc" xmlns="http://docbook.org/ns/docbook">Test docbook.</para>
				<para xmlns="http://docbook.org/ns/docbook">Test longdesc. plain: </para>
			</doc>
			<response status="200 203">
				<representation mediaType="application/json"/>
			</response>
		</method>
		<method id="bar" name="PUT">
			<doc title="Bar title">
				<para xmlns="http://docbook.org/ns/docbook">Test docbook.</para>
			</doc>
			<response status="200 203">
				<representation mediaType="application/json"/>
			</response>
		</method>
	</resource_type> 
	
	<method id="baz" name="DELETE">
		<doc title="Bar title">
			<para xmlns="http://docbook.org/ns/docbook">Test docbook.</para>
		</doc>
		<response status="200 203">
			<representation mediaType="application/json"/>
		</response>
	</method>
</application>